<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2><%= @user.first_name %> <%= @user.last_name %></h2>
    <h3><%= @user.description %></h3>
  </body>
</html>
