<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Temporary location.</h1>
    <h2>Replace the file path in the main index path in the routes file.</h2>
    <p>Things that need to be changed:</p>
    <ul>
      <li>routes
        <ul>
          <li>remove path for this temporary route</li>
          <li>add paths for new controllers and routes</li>
        </ul>
      </li>
      <li>user model
        <ul>
          <li>add additional attributes to the user table</li>
          <li>add additional validation to the user model</li>
          <li>migrate</li>
        </ul>
      </li>
      <li>users controller
        <ul>
          <li>remove temporary method</li>
          <li>change route for update success to desired location (main index or show user?)</li>
        </ul>
      </li>
      <li>application layout
        <ul>
          <li>change file path of home link to main index</li>
        </ul>
      </li>
    </ul>
  </body>
</html>
